<div>
  <h2 id="left">
    Reports
  </h2>
  <div id="select">
    <select id="select" (change)="onChange($event)">
      <option value="none" selected disabled hidden>Select a Teacher</option>
      <option *ngFor="let teacher of teachers">{{teacher.id}}</option>
    </select>
  </div>
</div>

<br><br><br><br>

<ng-container *ngIf="teacher != 'select'">
  <div class="grid-container" *ngFor="let report of teacherReports">
    <table cellspacing="5px" cellpadding="10px">
      <tr class="table">
        <td id="inline">
          <button id="report-id" type="button" (click)="openReport(report.id)">{{report.id}}</button>
        </td>
        <td>{{report.description}}</td>
        <td id="right">{{report.date}}</td>
      </tr>
    </table>
    <hr width="100%">
  </div>
</ng-container>